{% extends "main.html" %}

{% block content %}

<style>
.md-content .md-typeset h1:nth-of-type(2) {
    display: none;
}
</style>

<h1>Fundamentals</h1>
<div class="admonition info">
    <p class="admonition-title">Welcome to VoxaCommunications</p>
    <p>VoxaCommunications serves as your comprehensive resource for understanding our communication solutions and services. 
        This documentation provides essential information for getting started with our platforms and tools.</p>
    <p>For technical documentation and developer resources, explore our detailed guides below.</p>
</div>
<div class="row">

    <!-- Card 1 -->
    <a href="../../learn/about" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/images/logo-landscape-transparent.png" class="card-image" alt="About" />
        <p class="card-title" style="margin-top: -50px;">About VoxaCommunications</p>
    </a>

    <!-- Card 2 -->
    <a href="../../general/funding" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/images/funding-icon.svg" class="card-image" alt="Funding" />
        <p class="card-title">Funding</p>
    </a>

    <!-- Card 3 -->
    <a href="/general/services" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/images/services-icon.svg" class="card-image" alt="Services" />
        <p class="card-title">Our Services</p>
    </a>

</div>

<div class="row">

    <!-- Card 1 -->
    <a href="/learn/getting-started" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/images/getting-started-icon.svg" class="card-image" alt="Getting Started" />
        <p class="card-title">Getting Started</p>
    </a>

    <!-- Card 2 -->
    <a href="/learn/communication-tools" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/images/communication-tools-icon.svg" class="card-image" alt="Communication Tools" />
        <p class="card-title">Communication Tools</p>
    </a>

    <!-- Card 3 -->
    <a href="/learn/best-practices" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/images/best-practices-icon.svg" class="card-image" alt="Best Practices" />
        <p class="card-title">Best Practices</p>
    </a>    
</div>

<div class="row">

    <!-- Card 1 -->
    <a href="/general/support" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/images/support-icon.svg" class="card-image" alt="Support" />
        <p class="card-title">Support & FAQ</p>
    </a>

    <!-- Card 2 -->
    <a href="/learn/api-integration" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/images/api-integration-icon.svg" class="card-image" alt="Integration" />
        <p class="card-title">API Integration</p>
    </a>

    <!-- Card 3 -->
    <a href="/general/resources" class="card-container" data-aos="fade-up" data-aos-delay="100"
        style="width: 300px; height: 200px;">
        <img src="../../assets/images/resources-icon.svg" class="card-image" alt="Resources" />
        <p class="card-title">Resources</p>
    </a>

</div>

{{ super () }}
{% endblock %}